# Build results
**/target

# Cargo + Git helper file
# https://github.com/rust-lang/cargo/blob/0.44.1/src/cargo/sources/git/utils.rs#L320-L327
.cargo-ok

# Text file backups
**/*.rs.bk

# macOS
.DS_Store

# IDEs
*.iml
.idea

# Environment
*.env*

# Scripts
node_modules/

# Artifacts
artifacts/

# Temporary files
**/tmp.*

# Private TypeScript files are preceeded by an underscore
**/_*.ts

# Data and key files
scripts/data/
scripts/keys/

# Misc notes
/notes*.txt
