[package]
name = "steak"
version = "2.0.2"
authors = ["larry <gm@larry.engineer>", "PFC <pfc-validator@protonmail.com>"]
edition = "2018"
description = "Liquid staking protocol for the cosmos"
license = "GPL-3.0-or-later"
homepage = "https://steak.club"
repository = "https://github.com/st4k3h0us3/steak-contracts"

[dependencies]
cosmwasm-std = "1.0"
cw20 = "0.13"
schemars = "0.8.1"
serde = { version = "1.0.103", default-features = false, features = ["derive"] }

